body{
  padding: 0;
  margin: 0;
  color: #e0e0e0 ;
  font-weight: bold;
  font-style: medium;
  font-size: 1em;
  height: 100%;
}

/*CSS LOGIN*/
.imglogin{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  background-size: cover;
  background-image: url('../assets/img/login2.jpg');
  z-index: -1;
}
.botones{
  margin-top: 1.5em;
}

.social-button{
  width: 12.5em;
  height: 3em;
  border-radius: .5em;
}

.social-button:hover{
  background-color: #cfd8dc;
}

.bienvenida-container{
  height: 550px;
  position: absolute;
  margin: auto;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.logo{
  font-size: 15em;
}

.fb-theme-color {
    background-color: #01579b;
}
.tw-theme-color {
    background-color: #039be5 ;
}


/*CSS 404*/

.title-404{
  height: 36em;
  margin: 0;
  padding: 0;
  position: absolute;
  margin: auto;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;  
}

.title-404 i{
  font-size: 5em;
  color: red;
}

.img-404{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  background-size: cover;
  background-image: url('../assets/img/404.jpg');
  z-index: -1;
}

.contenido{
  border-radius: 0.5em;
  background-color: black;
  padding: 1em;
  margin-top: 8em;
  opacity: 0.4;
}