<div class="imglogin" ></div>
<div>
  <div class="row container bienvenida-container">
    
    <div class="col s12">
      <h1>Mascotte</h1>
      <i class="logo fa fa-paw"></i>
    </div>
      
      <div class="col s12 m6 botones">
        <button class="social-button waves-effect  btn fb-theme-color z-depth-5"><i class="fa fa-facebook "></i></button>

      </div>
      <div class="col s12 m6 botones">
        <button class="social-button waves-effect btn tw-theme-color z-depth-5" ng-click="authenticate('twitter')"><i class="fa fa-twitter"></i></button>
      </div>  

  </div>

  <div ng-view></div>
</div>