<video class="videodog" src="../assets/video/video2.mp4" autoplay loop></video>

<div class="row container bienvenida">
  <div class="col s12">
    <h1>Mascotte</h1>
    <i class="logo fa fa-paw"></i>
    <h4>Bienvenido</h4>
  </div>
  <div class="row">
    <div class="col s6">
      <button class="waves-effect waves-light btn-large theme-color"><i class="fa fa-facebook"></i></button>
    </div>
    <div class="col s6">
      <button class="waves-effect waves-light btn-large"><i class="fa fa-twitter"></i></button>
    </div>
  </div>
</div>